html{
    height: 100%;
}

body{
    background-image: url(DevilMayCry3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-position-y: top;
    margin: 0 auto;
}

h1{
    display: block;
    width: fit-content;
    text-align: center;
    padding: 10px 20px;
    margin: 150px auto;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #0dbfbf;
    text-shadow: 2px 2px 2px rgb(128, 128, 128);
    background-color: #99161687;
    border-radius: 7px;
}

.box_botao{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    gap: 15px;
    padding: 20px;
}

.botoes{
    background-color: #991616b0;
    color: #fffffffe;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-shadow: 2px 5px 7px black;
    border: none;
    border-radius: 5px;
    transition: 0.5s;
    padding:20px 30px;
    font-size: 20px;
}
.botoes:hover{
    box-shadow: 0px 0px 15px rgb(9, 240, 228);
    transform: translateY(-2px);
    transition: 0.5s;
    cursor: pointer;
}
.botoes:disabled{
    box-shadow: none;
    transform: none;
    background-color: #99161667;
    transition: 0.5s;
    cursor: not-allowed;
}