html{
    height: 100%;
}

body{
    margin: 0 auto;
    height: 100vh;
    background-image: url(vergil.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.titulo{
    width: 75vh;
    filter: drop-shadow(0px 0px 10px rgb(49, 110, 233));
}

.subtitulo{
    width: 90vh;
    filter: drop-shadow(0px 0px 10px rgb(7, 7, 172));
}

.conteiner{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 50px;
    color: white;
    opacity: 90%;
}

#id_nome{
    width: 260px;
    height: 20px;
    border-radius: 5px;
}

input[name="radio_p"]{
    margin: 50px 5px 40px;
    cursor: pointer;
}



button{
    border-radius: 8px;
    border: none;
    padding: 10px;
    position: relative;
}

button:hover{
    cursor: pointer;
    transform: scale(1.15);
    box-shadow: 0px 0px 20px blue;
    transition: 0.25s;
}


button span{
    opacity: 1;
    visibility: visible;
    color: blue;
    font-weight: lighter;
}

#power{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    color: rgb(166, 0, 255);
    font-weight: bolder;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

button:hover span{
    opacity: 0;
    visibility: hidden;
}

button:hover #power{
    opacity: 1;
    visibility: visible;
}

input[type="button"]{
    margin: 10px 20px;
    border-radius: 5px;
    border: 1px solid white;
    background-color: #31047a;
    color:aliceblue;
    padding: 10px 10px;
    font-size: 20px;
    transition: 0.5s;
    transform-origin: center center;
}

input[type="button"]:hover{
     cursor: pointer;
     transform: scale(1.15);
     box-shadow: 0px 0px 20px rgb(89, 0, 255);
     transition: 0.2s;
}

fieldset{
    background-color: #043152;
    border: 2px solid #0099ff;
    border-radius: 5px;
    padding: 20px;
    width: 60vh;
    height: auto;
    box-shadow: -7px 5px 7px gray;
}

legend{
    margin: auto;
    font-weight: bolder;
}

#resultado_fila{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    margin: 5px auto;
    border-radius: 3px;
    color: white;
}